<div ng-hide="loaded">Molimo sacekajte</div>
<div ng-show="loaded" class="row">
    <div class="image col-sm-3" ng-repeat="slika in slike | orderBy: 'naziv'">
        <a href="#!gallery/{{ slika.id }}">
            <img ng-src="{{ slika.slika }}">
        </a>
        <div>
            ID: {{ slika.id }}
        </div>
        <div>
            Naziv: {{ slika.naziv }}
        </div>
    </div>
</div>
