<div>
    <form>
        <input type="text" name="ime" value="{{ podaci.ime }}">
        <br>
        <input type="text" name="prezime" value="{{ podaci.prezime }}">
        <br>
        <input type="email" name="email" value="{{ podaci.email }}">
    </form>
</div>